.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .list {
    padding-block: 20px;
    background-color: var(--white);
    gap: 0;
  }
}
