.menuItemsList {
  display: grid;
  background-color: var(--white);
  border-radius: 3px;
}

.menuItem {
  padding: 12px 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--white);
}

.divider::after {
  position: absolute;
  top: 100%;
  width: calc(100% - 40px);
  content: '';
  border-bottom: 1px solid var(--greyEC);
  z-index: 1;
}

.hideOnMobile {
  display: none;
}

@media all and (min-width: 1024px) {
  .hideOnMobile {
    display: flex;
  }
}

.closeButton {
  background-color: var(--greyD9);
  padding: 12px 20px;
  text-align: center;
  width: 100%;
}

@media all and (min-width: 1540px) {
  .menuItem {
    padding: 5px 20px;
  }

  .closeButton {
    display: none;
  }
}
