.menu {
  position: absolute;
  inset: 17px 15px;
  display: grid;
  align-items: start;
  justify-content: end;
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    inset: unset;
  }
}
