.header {
  display: grid;
  grid-template-rows: auto minmax(46px, auto) auto;
  gap: 15px;
}

.header > .title {
  padding-inline: 20px;
  align-self: end;
}

.headerInfo {
  padding: 14px 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 14px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 7px 7px;
}

@media (min-width: 1024px) {
  .header {
    padding: 40px 40px 0;
    gap: 27px;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: none;
  }

  .header > .headerInfo {
    order: 3;
  }

  .header > .title {
    padding-inline: 0;
    align-self: center;
  }

  .headerInfo {
    padding: 0;
    justify-self: end;
    grid-auto-flow: column;
    gap: 30px;
    background: none;
    box-shadow: none;
  }

  .headerInfo > .user {
    order: 3;
  }

  .headerInfo > .search {
    order: 2;
    width: 280px;
  }
}

@media (min-width: 1540px) {
  .header {
    padding: 75px 0 0;
  }

  .headerInfo {
    gap: 50px;
  }

  .headerInfo > .search {
    width: 360px;
  }
}
