.textContent {
  padding: 22px 20px 13px;
  display: grid;
  gap: 7px;
}

.metaData {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 10px;
  line-height: 12px;
}

.publishedLabel {
  display: none;
}

.createdAt,
.createdAt span {
  color: var(--grey99);
}

@media (min-width: 1024px) {
  .textContent {
    padding: 0;
    order: 1;
    gap: 10px;
  }

  .metaData {
    order: 1;
    font-size: 14px;
    line-height: 16px;
  }

  .publishedLabel {
    display: inline;
  }
}
