.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  display: grid;
}

.card:hover h2 a,
.card:focus-within h2 a {
  color: var(--orange);
}

@media (min-width: 1024px) {
  .card {
    padding: 20px 40px;
    background-color: transparent;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 38px;
  }
}

@media (min-width: 1540px) {
  .card {
    padding-left: 72px;
    padding-right: 48px;
    cursor: pointer;
  }
  .card:hover,
  .card:focus-within {
    outline: 1px solid var(--grey-demi-dark);
  }
}
