.link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.link_header {
  gap: 13px;
}

.link_post {
  gap: 7px;
}

.avatar > svg {
  display: block;
}

.avatar_header > svg {
  width: 30px;
  height: 30px;
}

.avatar_post > svg {
  width: 20px;
  height: 20px;
}

.name_header {
  display: none;
}

.name_post {
  font-size: 10px;
  line-height: 12px;
  color: var(--orange);
}

@media (min-width: 1024px) {
  .avatar_header > svg {
    width: 50px;
    height: 50px;
  }

  .name_header {
    display: initial;
    font-size: 20px;
    line-height: 23px;
  }

  .name_post {
    font-size: 14px;
    line-height: 16px;
  }
}
