.controls {
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 13px;
}

@media (min-width: 1024px) {
  .controls {
    justify-self: center;
    padding: 0;
    gap: 24px;
    order: 2;
  }

  .actions {
    display: none;
  }
}
