@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #333333;
  --orange: #cc6633;
  --green: #a4cc33;
  --whiteLightness: 100%;
  --white: hsl(0, 0%, var(--whiteLightness));
  --grayF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
  --grayF3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --grayEC: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --grayD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --grayC4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --gray99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --gray66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: var(--black);
  background-color: var(--grayF4);
}
