.layout {
  margin-inline: auto;
  max-width: 1400px;
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .layout {
    gap: 31px;
  }
}

@media (min-width: 1540px) {
  .layout {
    gap: 29px;
  }
}
